.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
production.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.sqlite
drizzle
db_data
.pnpm-store
.git
.gitignore
.vscode
.github
README.md
LICENSE
Dockerfile
docker-compose.yml
docker-compose.prod.yml